/* line 3, ../assets/scss/styles.scss */
.widget .table-scroll {
  overflow-y: auto;
}

/* line 11, ../assets/scss/styles.scss */
#dashboard-page .table-scroll {
  max-height: 300px;
}

/* line 19, ../assets/scss/styles.scss */
.panel .form-group {
  border-bottom: solid 1px #eee;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 25, ../assets/scss/styles.scss */
.panel .form-group:last-child {
  border-bottom: none;
}
