<div class="row">
    <div class="col-xs-12">
        <div class="text-right">
            <button type="button" class="btn btn-info">Create New</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form class="panel panel-default" method="post" name="widgetForm" ng-submit="save()">
            <div class="form-horizontal" ng-if="widget">
                <div class="form-group">
                    <div class="control-label col-sm-4 col-md-2">Widget ID</div>
                    <div class="col-sm-4 col-md-2">
                        <input type="text" ng-disabled="true" ng-model="widget.id" name="widget_id" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4 col-md-2">Name</div>
                    <div class="col-sm-6 col-md-4">
                        <input type="text" ng-model="widget.name" name="name" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4 col-md-2">Color</div>
                    <div class="col-sm-6 col-md-4">
                        <select ng-model="widget.color" name="color" ng-options="option for option in colors" class="form-control" required>
                            <option value="">Select a Color</option>
                        </select>        
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4 col-md-2">Price</div>
                    <div class="col-sm-4 col-md-2">
                        <input type="text" ng-model="widget.price" name="price" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4 col-md-2">Melts</div>
                    <div class="col-sm-6 col-md-4">
                        <div class="checkbox">  
                            <label>
                                <input type="checkbox" ng-model="widget.melts" name="melts">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-4 col-md-2">Inventory</div>
                    <div class="col-sm-4 col-md-2">
                        <input type="number" step="1" ng-model="widget.inventory" class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="/#/widgets" class="btn btn-link">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div data-loading="" ng-if="!widget"></div>
        </form>  
    </div>
</div>