#sidebar-wrapper {
	
    .sidebar > li {
        
        &.active {
            background-color: lighten(#30426a, 5%);
        }
        
    }
    
    .sidebar-footer {
        padding-top: 10px;
    }
    
}

.widget {
    
    .table {
        
        &.table-hover tbody tr {
            cursor: pointer;
        }
        
        thead th {
            a:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
        
    }
    
    .scrollable {
        position: relative;
        height: 300px;

        tbody {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin-top: 37px;
            overflow-y: auto;

            tr {
                display: block;
                
                td {
                    display: block;
                    float: left;
                    width: auto;
                }
                
            }

        }

    }
    
}

.panel {

    .form-group {
        border-bottom: solid 1px #eee;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;

        &:last-child {
            border-bottom: none;
        }

    }
    
}

#dashboard-page {
	
    .widget {
	   
        .scrollable {
            
            thead th,
            tbody td {
                
                &:nth-child(1) {
                    width: 20%
                }
                
                &:nth-child(2) {
                    width: 50%
                }
                
                &:nth-child(3) {
                    width: 30%
                }
                
            }
            
            tbody {
            
                tr:after {
                    content: "";
                    clear: both;
                    display: block;
                    width: 100%;
                }
                
            }
            
        }
        
    }
    
}

#users-list-page {
	
    .table tbody {
        
        td {
            
            &:nth-child(1) {
                width: 100px;
            }
            
            &:nth-child(3) {
                width: 150px;
            }
            
        }
        
    }
    
}