#sidebar-wrapper {
	
    .sidebar > li {
        
        &.active {
            background-color: lighten(#30426a, 5%);
        }
        
    }
    
    .sidebar-footer {
        padding-top: 10px;
    }
    
}

.widget {
    
    .table-scroll {
        overflow-y: auto;
    }
    
    .table {
        
        &.table-hover tbody tr {
            cursor: pointer;
        }
        
        thead th {
            a:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
        
    }
    
}

#dashboard-page {
	
    .table-scroll {
        max-height: 300px;
    }
    
}

.panel {

    .form-group {
        border-bottom: solid 1px #eee;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;

        &:last-child {
            border-bottom: none;
        }

    }
    
}