<div class="widget">
    <div class="widget-header">{{ config.title }}
        <div class="pull-right">
            <input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchQuery">
        </div>
    </div>
    <div ng-class="config.scrollable ? 'scrollable' : 'table-responsive'">
        <table class="table" ng-class="{ 'table-hover': config.data != null && searchResults.length > 0 }">
            <thead>
                <tr>
                    <th ng-repeat="item in config.headers">
                        <a ng-click="config.sortType = item.field; config.sortReverse = !config.sortReverse" ng-if="item.sortable">{{ item.label }}
                            <i ng-show="config.sortType == item.field && !config.sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="config.sortType == item.field && config.sortReverse" class="fa fa-caret-up"></i>
                        </a>
                        <span ng-if="!item.sortable">{{ item.label }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="row in searchResults = (config.data | filter: searchQuery) | orderBy: config.sortType : config.sortReverse | itemsPerPage: itemsPerPage" pagination-id="config.title">
                    <td ng-repeat="cell in config.headers" ng-bind-html="row[cell.field]"></td>
                </tr>
                <tr ng-if="searchResults.length == 0">
                    <td colspan="{{ config.headers.length }}" class="text-center full-width">
                        No records found
                    </td>
                </tr>
                <tr ng-if="config.data == null">
                    <td colspan="{{ config.headers.length }}" data-loading="" class="full-width">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="widget-footer">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control input-sm" ng-model="itemsPerPage" ng-options="option for option in itemsPerPageOptions">
                        </select>
                        <label class="control-label">Rows</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="text-right">
                    <dir-pagination-controls 
                        pagination-id="config.title"
                        max-size="5"
                        template-url="partials/directives/pagination.html">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>