<div class="widget">
    <div class="widget-header">Widgets
        <div class="pull-right"><input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchQuery"></div>
    </div>
    <div class="table-scroll">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Name</th>
                    <th ng-if="!simpleView">Color</th>
                    <th ng-if="!simpleView">Price</th>
                    <th ng-if="!simpleView">Melts?</th>
                    <th ng-if="!simpleView">Inventory</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="widget in widgets | filter: searchQuery as searchResults" ui-sref="widgetDetails({ id: widget.id })">
                    <td class="text-center">{{ widget.id }}</td>
                    <td>{{ widget.name }}</td>
                    <td ng-if="!simpleView">{{ widget.color }}</td>
                    <td ng-if="!simpleView">{{ widget.price | currency }}</td>
                    <td ng-if="!simpleView">{{ widget.melts ? 'Yes' : 'No' }}</td>
                    <td ng-if="!simpleView">{{ widget.inventory }}</td>
                </tr>
                <tr ng-if="searchResults.length == 0">
                    <td colspan="6">
                        No records found
                    </td>
                </tr>
                <tr ng-if="!widgets">
                    <td colspan="6" data-loading="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>