<div class="widget">
    <div class="widget-header">Widgets
        <div class="pull-right"><input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchQuery"></div>
    </div>
    <div class="table-scroll">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <a ng-click="sortType = 'id'; sortReverse = !sortReverse">ID
                            <i ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
                            <i ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th ng-if="!simpleView">
                        <a ng-click="sortType = 'color'; sortReverse = !sortReverse">Color
                            <i ng-show="sortType == 'color' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'color' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th ng-if="!simpleView">
                        <a ng-click="sortType = 'price'; sortReverse = !sortReverse">Price
                            <i ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th ng-if="!simpleView">
                        <a ng-click="sortType = 'melts'; sortReverse = !sortReverse">Melts?
                            <i ng-show="sortType == 'melts' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'melts' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th ng-if="!simpleView">
                        <a ng-click="sortType = 'inventory'; sortReverse = !sortReverse">Inventory
                            <i ng-show="sortType == 'inventory' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'inventory' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="widget in widgets | orderBy : sortType : sortReverse | filter: searchQuery as searchResults" ui-sref="widgetDetails({ id: widget.id })">
                    <td class="text-center">{{ widget.id }}</td>
                    <td>{{ widget.name }}</td>
                    <td ng-if="!simpleView">{{ widget.color }}</td>
                    <td ng-if="!simpleView">{{ widget.price | currency }}</td>
                    <td ng-if="!simpleView">{{ widget.melts ? 'Yes' : 'No' }}</td>
                    <td ng-if="!simpleView">{{ widget.inventory }}</td>
                </tr>
                <tr ng-if="searchResults.length == 0">
                    <td colspan="6">
                        No records found
                    </td>
                </tr>
                <tr ng-if="!widgets">
                    <td colspan="6" data-loading="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>