<div class="widget">
    <div class="widget-header">Users
        <div class="pull-right">
            <input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchQuery">
        </div>
    </div>
    <div class="table-scroll">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        <a ng-click="sortType = 'id'; sortReverse = !sortReverse">ID
                            <i ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>
                        <a ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
                            <i ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></i>
                            <i ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>Avatar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | orderBy : sortType : sortReverse | filter: searchQuery as searchResults" ui-sref="userDetails({ id: user.id })">
                    <td class="text-center">{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                        <img ng-src="{{ user.gravatar }}" alt="{{ user.name }}">
                    </td>
                </tr>
                <tr ng-if="searchResults.length == 0">
                    <td colspan="3">
                        No records found
                    </td>
                </tr>
                <tr ng-if="!users">
                    <td colspan="3" data-loading="">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>